@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #dfe9f5;
}
header{
    width: 100%;
    background: #fff;
    color: rgba(85,83,83);
    height: 50px;
    padding: 7px;
    text-align: center;
    font-weight: 600;
    border: 1px solid lightblue;
}
/* ======================NAV STYLING======================= */
nav{
    position: absolute;
    top: 54px;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    border-radius: 3px;
}
.logo{
    width: 40%;
    text-align: center;
    display: flex;
    transition:  all 0.5s ease;
}
hr{
    color: black;
}
a{
    position: relative;
    color: rgba(85,83,83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.fa{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 12px;
}
a:hover{
    background: #eee;
}
.navi:hover{
    width: 280px;
    transition: all 0.5s ease;
}
main{
    display: flex;
}
section{
    margin: 5px 3px 0 100px;
    flex: 2;
    float: right;
    height:100vh;
    background: #fff;
    border-radius: 3px;
}
/* ================TRANSITION ON NAV=============== */


nav:hover~.notice-content,nav:hover~.dash,nav:hover~.event-content,nav:hover~.contact-content{
    /* display: none; */
    margin: 5px 3px 0 290px;
    transition: all 0.5s ease;
}

/* ===============styling the admin page================ */
.dash{
    text-align: center;
    color: rgb(83, 83, 145);
}
.dash h1{
    /* display: inline-block; */
    margin: 30px;
}
/* =========STYLING NOTICE AND EVENT HEAD=========== */
.notice-content,.event-content,.contact-content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rgb(83, 83, 145);
}
.head{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.head h1{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
#new-notice,#new-event{
    display: flex;
    flex-wrap: wrap;
}
button,input{
    background-color: lightblue;
    margin: 3px;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: rgb(83, 83, 145);
}
#notice-input,#event-input{
    width: 300px;
}
input::placeholder{
    color: rgb(83, 83, 145);
}
#notice-file,#event-file{
    background: none;
}

#notice-add,#event-add{
    background: none;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
}
#notice-add:hover,#event-add:hover{
    opacity: 0.8;
}
#notice-add:active,#event-add:active{
    opacity: 0.6;
}
/* ====================ENF OF THE HEAD============ */
.main-section{
    padding: 2rem 1rem;
    margin: 0 auto;
}
#notice-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.notices, .actions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.notices{
    justify-content: center;
    background: lightblue;
    border-radius: 1rem;
    padding: 5px;
    margin: 5px;
}
.content input, .actions button{
    background: rgba(83, 83, 145,0.2);
    padding: 0.7rem;
}
.text{
    width: 400px;
    word-wrap: break-word;
}
.delete:hover{
    background-color: red;
    color: #dfe9f5;
    transition: all 0.4s;
}
.download:hover{
    background-color: GREEN;
    color: #dfe9f5;
    transition: all 0.4s;
}

.display-none{
    display: none;
}

/* ============contact us=============== */
.contact-sec{
    color: rgba(85,83,83);
}
.developer,.ward{
    background: #ccddf1;
    color:rgba(85,83,83);
    padding: 0.7rem;
    border-radius: 15px;
    margin: 1.5rem 0;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.developer h3,.ward h3{
    margin: 1rem;
}
.developer h4,.ward h4{
    margin: 1rem;
}
/* .notice-content{
    background-color: tomato;
} */








/* nav:hover~.sec2{
    background: tomato;
    margin: 5px 3px 0 290px;
} */


/* ==========media query========== */
